.arctype-host {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.65);
	font-size: 2rem;
	transition: opacity 111ms ease-out;
}

.arctype-host:not([data-active="true"]) {
	pointer-events: none;
	opacity: 0;
}

.arctype-host input {
	position: relative;
	z-index: 1;
	font-size: 1.3rem;
}

.arctype-wing {
	transform-origin: right center;
	position: absolute;
	width: 6.5em;
	height: 0.5em;
	--rotate: 0deg;
	transform: translateX(-50%) rotate(calc(1 * var(--rotate)));
	display: flex;
	align-items: center;
}

.arctype-sector {
	background-color: #772222;
	display: inline-block;
	transform: translateX(-50%) rotate(calc(-1 * var(--rotate)));
	transform-origin: 50% 50%;
	border-radius: 50%;
	--size: 4em;
	width: var(--size);
	height: var(--size);
	transition: transform 195ms ease-out, background-color 64ms ease-out;
	box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.5);
	font-family: monospace;
}

.arctype-selected .arctype-sector{
	font-weight: bold;
	background-color: #C01111;
	transform: translateX(-50%) rotate(calc(-1 * var(--rotate))) scale(1.25);
	transition: transform 64ms ease-in, background-color 64ms ease-out;
}

.arctype-selected {
	z-index: 10;
}

.arctype-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	--space: 0.75em;
	width: 1em;
	height: 1em;
	font-size: 2.75rem;
	border-radius: 50%;
	background-color: #510000;
	color: white;
	cursor: pointer;
	user-select: none;
}

.arctype-button span {
	font-size: 0.65em;
}

.arctype-host button.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: none;
	background: none;
	font-size: 3rem;
	opacity: 0.85;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

.arctype-button:nth-child(1) {
	transform: translate(-50%, calc(-50% + var(--space)));
}

.arctype-button:nth-child(2) {
	transform: translate(calc(-50% + var(--space)), -50%);
}

.arctype-button:nth-child(3) {
	transform: translate(calc(-50% - var(--space)), -50%);
}

.arctype-button:nth-child(4) {
	transform: translate(-50%, calc(-50% - var(--space)));
}

.arctype-wing:nth-child(1) {
	--rotate: 90deg;
}

.arctype-wing:nth-child(2) {
	--rotate: 135deg;
}

.arctype-wing:nth-child(3) {
	--rotate: 180deg;
}

.arctype-wing:nth-child(4) {
	--rotate: 225deg;
}

.arctype-wing:nth-child(5) {
	--rotate: 270deg;
}

.arctype-wing:nth-child(6) {
	--rotate: 315deg;
}

.arctype-wing:nth-child(7) {
	--rotate: 0deg;
}

.arctype-wing:nth-child(8) {
	--rotate: 45deg;
}

.arctype-host .help-text {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
	font-size: 0.95rem;
	line-height: 1.35rem;
	background-color: #FFFC;
	padding: 1rem;
	transform: translateX(-100%);
	opacity: 0;
}

.arctype-host[data-active=true] .help-text {
	transition: transform 0.45s 0.25s ease-out, opacity 0.45s 0.25s ease-out;
	transform: translateX(0);
	opacity: 1;
}

body {
  background-color: #CCC;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  background-color: #FFF;
  border: 1px solid #444;
  border-bottom: none;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0rem 0rem 1rem #0004;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, p, section.form, section.footer {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  box-sizing: border-box;
}

section.form,
section.form input {
  font-size: 1.65rem;
}

section.form {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #444;
  margin-top: 1rem;
}

section.footer {
  width: 100%;
  text-align: right;
  background-color: black;
  color: white;
  flex: 1;
}

/*# sourceMappingURL=app.css.map*/